* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --Pink: #ff52bf;
  --VeryPaleCyan: #ebfbff;
  --VeryDarkCyan: #00252e;
  --GrayishBlue: #808d99;
  --OpenSans: "Open Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 20px 0 20px;
}

.cont-main {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 100%;
}

.title-main {
  font-family: var(--Poppins);
  font-size: 2.5rem;
  color: var(--VeryDarkCyan);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.text-main {
  font-family: var(--OpenSans);
  font-size: 1.125rem;
  color: var(--VeryDarkCyan);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.btn-nav {
    padding: 14px 60px;
    color: var(--VeryDarkCyan);
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    border: none;
    outline: none;
    font-family: var(--OpenSans);
    font-weight: 700;
    font-size: 0.875rem;
    transition: .3s;
}

.btn-nav:hover{
    color: #808E9A;
}

.btn:hover, .btn-modal:hover{
    background: #FF9ADB;
}


.btn, .btn-modal {
  font-family: var(--OpenSans);
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  padding: 20px 70px;
  background: var(--Pink);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 28px;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
  transition: .3s;
}

.btn-modal{
    padding: 20px 100px;
}
.img-main {
  max-width: 680px;
}

.bg-img{
    background: url('./images/bg-hero-desktop.svg') no-repeat;
    background-color: var(--VeryPaleCyan);
    background-size: cover;
    height: 100vh;
    margin-bottom: 160px;
}

.flex-item{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    padding: 50px 60px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title-card {
    font-size: 1.75rem;
    font-family: var(--Poppins);
    color: var(--VeryDarkCyan);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.text-card{
    font-size: 1.125rem;
    font-family: var(--OpenSans);
    line-height: 1.5;
    color: var(--GrayishBlue);
}

.flex-item img {
    max-width: 440px;
}

.div-info{
    max-width: 490px;
}

.bg-footer{
    padding-top: 145px;
    background: var(--VeryDarkCyan);
    color: white;
    font-family: var(--OpenSans);
    padding-bottom: 60px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
}

.location-info {
    max-width: 340px;
    font-size: 1rem;
}

.location {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.social:first-child {
    margin-bottom: 1rem;
}
.social {
    gap: 20px;
    display: flex;
    cursor: pointer;
}
.lista-footer {
    width: 80px;
}

.lista-footer li {
    margin-bottom: 1rem;
}

.lista-footer li a {
    color: white;
    font-size: 1rem;
    transition: .3s;
}

.lista-footer li a:hover{
    text-decoration: underline;
}

.icones-social {
    display: flex;
    gap: 12px;
}

.icones-social a {
    display: flex;
    width: 32px;
    height: 32px;
    color: var(--White);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.3s;
}

.socialFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socialFooter span{
    font-size: 0.75rem;
    font-weight: 400;
    font-family: var(--Poppins);
}

.imgfooter{
    max-width: 150px;
    margin-bottom: 2rem;
}

.card-acess {
    background: #FFF;
    max-width: 860px;
    margin-inline: auto;
    text-align: center;
    padding: 40px 90px;
    color: var(--VeryDarkCyan);
    border-radius: 9px;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 80px;
}

.title-acess {
    font-size: 2rem;
    font-family: var(--Poppins);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.icones-social a:hover {
    color: #FF52C1;
    border-color: #FF52C1;
}

@media(max-width:1200px){
    .cont-main{
        flex-direction: column;
        padding-top: 120px;
        text-align: center;
    }
    .flex-item{
        flex-direction: column-reverse;
    }
    .div-info{
        text-align: center;
        margin-top: 24px;
    }
    .card-acess {
        padding: 40px 28px;
        margin: 0 20px;
    }
    .reverse.flex-item{
        flex-direction: column;
    }
    .reverse.div-info{
        text-align: center;
        margin-bottom: 24px;
    }
    .footer-info{
        flex-direction: column;
        gap: 16px;
    }
    .socialFooter{
        text-align: center;
        align-items: center;
        gap: 16px;
    }
    .img-main{
        max-width: 100%;
    }
}

@media(max-width:767px){
    .bg-img{
        background: url('./images/bg-hero-mobile.svg') no-repeat;
        background-color: var(--VeryPaleCyan);
        background-size: cover;
        height: 100vh;
    }
    .cont-main{
        gap: 25px;
        padding-bottom: 20px;
    }
    .menu{
        gap: 12px;
    }
    .menu img{
        max-width: 105px;
    }
    .btn-nav{
        padding: 5px 20px;
    }
    .title-main{
        font-size: 1.5rem;
    }
    .text-main{
        font-size: 1rem;
    }
    .btn{
        padding: 12px 60px;
    }
    .flex-item img{
        max-width: 100%;
    }
}